POSTGRES_USER=metsaregister
POSTGRES_PASSWORD=metsaregister
POSTGRES_DB=metsaregister

DB_PORT_HOST=55432
DASHBOARD_PORT_HOST=8501

# Metsaregistri WFS endpoint (autentimist ei nõua)
WFS_BASE_URL=https://gsavalik.envir.ee/geoserver/metsaregister/ows

# Maa-ameti WFS endpoint KOV piiride jaoks
MAA_WFS_BASE_URL=https://teenus.maaamet.ee/ows/ajakohane-haldusjaotus

# Croni vorming: minut tund kuupaev kuu nadalapaev.
# Vaikimisi käivitub iga päev kell 06:00.
PIPELINE_CRON="0 6 * * *"
RUN_ON_STARTUP=true
